src/main/app/allflights.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="allflightsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/allflights" doc:name="HTTP"/>
        <logger message="Request Received..." level="INFO" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/essentials/united/flights/" method="GET" doc:name="HTTP"/>
        <logger message="The response is....#[message.payloadAs(java.lang.string)]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
